<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Yubzz Restaurant Apps</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <nav-bar></nav-bar>
    <header>
      <app-hero class="hero"></app-hero>
    </header>

    <main id="maincontent">
      <div>
        <h1 tabindex="0">Daftar Restaurant</h1>

        <app-list ></app-list>
        
      </div>
    </main>
    <footer tabindex="0">Copyright &copy; 2023 - Ayub Budi Santoso</footer>
  </body>
</html>
